#navbar {
    background-color: #F3F3F3;
}

#button-container {
    margin-top: 5%;
}

.home-button {
    width: 50%;
    border: none;
    margin: 1px;
}
.form-header {
    width:100%;
}

.dark-gray {
    background-color: #434343;
}

.form-group {
    margin-top: 0;
    margin-bottom: .4rem;
    padding: 0px;
}

.form-label {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0px;
    font-size: 16px;
}

.signup-button {
    width: 60%;
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 40%;
    margin-top: 5px;
}

#footer {
    background-color: #38383B;
    margin: 0px -30px;
    height: 40%;
}
