.section-1 {
    text-align: center;
    margin: 0 auto;
    margin: 0 -30px;
}
.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./section1/equalithon-hero.jpg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-header {
    font-size: 44px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.section-2, .section-3, .section-4, .section-5, .section-6, .section-7, .section-8, .section-9, .section-10, #footer {
    text-align: center;
    margin: 0 auto;
    padding: 70px 50px;
}

.equalithon-info {
    margin: auto;
}

.section-2 {
    height: 50%;
}

.section-3, .section-10 {
    background-color: #54DDB0;
    margin: 0px -30px;
}

.sec-3-col-2, .sec-3-col-1 {
    width: 600px;
}

.section-5 {
    background-color: #38383B;
    margin: 0px -30px;
    height: 40%;
}

.section-5 h1, .section-5 h2, .section-8 h2 {
    color: #f8c23a;
}

.section-5 p {
    color: white;
}

.sec-5-cols {
    margin: 40px 20px;
}

.section-2 h1, .section-3 h2, .section-4 h2, .section-5 h2, .section-6 h2, .section-7 h2, .section-8 h2 {
    margin-bottom: 75px;
}

.section-8 {
    background-color: #38383B;
    margin: 0px -30px;
    height: 80%;
}

.image-crop {
    max-width: 377px;
    max-height: 230px;
    overflow: hidden; 
}

.section-9 {
    height: 90%;
}

.section-9 h2, .section-9 p, .section-10 h2, .section-10 p {
    margin-bottom: 45px;
}

#subscribe {
    margin: 0% 10% 2% 10%;
}

#footer {
    background-color: #38383B;
    margin: 0px -30px;
    height: 40%;
}