@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

.registrationForm {
  padding-top: 20px;
  width: 40%;
  margin: auto;
}

.cyan {
  background-color: #29CABE;
}

.yellow {
  background-color: #FFD966;
}

.home-button {
  width: 65%;
}

.home {
  width: 90px;
  margin-top: 2%;
  position: absolute;
  margin-left: 20%;
}

.team-select-button {
  width: 95%;
}

.next {
  width: 30%;
  float: right;
}