@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

.registrationForm {
  padding-top: 20px;
  width: 500px;
  margin: auto;
}

h2{
  text-align:center;
  background-color: aquamarine;
  margin-left: 380px;
  margin-right: 380px;
}
.SignIn{
  padding-top: 20px;
  width:500px;
  margin:auto;
}

