@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

.a-inherit, .a-inherit:hover {
  color: inherit;
  text-decoration: inherit;
  background-color: transparent;
}
.nav-list-item-w-hover-yellow {
  color: #434343;
  background-color: #fff;
  cursor: pointer;
}

.nav-list-item-w-hover-yellow:hover {
  background-color: #FFD966;
  color: #495057;
}

.nav-list-item-w-hover-cyan {
 background-color: #f1f1f1;
 border-radius: 0 !important;
}

.nav-list-item-w-hover-cyan:hover {
  background-color: #29CABE;
}

.registrationForm {
  padding-top: 20px;
  padding-bottom: 20px;
  width: 40%;
  margin: auto;
}

.participantForm {
  padding-top: 20px;
  width: 40%;
  margin: auto;
}

.cyan {
  background-color: #29CABE;
}

.orange {
  background-color: orange;
}

.cyan-form {
  color: #29CABE;
}

.header-center {
  text-align: center;
}

.cyan-text {
  color: #29CABE;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.yellow {
  background-color: #FFD966;
}

.light-gray {
  background-color: rgb(239, 239, 239)
}

.medium-gray {
  background-color: rgb(150, 149, 149)
}

.home-button {
  width: 65%;
}

.bold {
  font-weight: bold;
}

.home {
  width: 90px;
  margin-top: 2%;
  position: absolute;
  margin-left: 20%;
}

.inline {
  display: inline;
}

.team-selection {
  width: 90px;
  margin-top: 8%;
  position: absolute;
  margin-left: 20%;
}

.team-select-button {
  width: 100%;
}

.select {
  float: right;
  width: 40%;
}

.next {
  width: 30%;
  float: right;
}

.radio-button__hidden {
  cursor: pointer;
  margin-bottom: 5px;
}

.radio-button__hidden:hover { background-color:  #FFD966;}
.radio-button__hidden input {
  opacity: 0;
}

.cyan-hover:hover {
  background-color: #29CABE;
}

.button-center {
  text-align: center;
}

.block {
  height: 300;
  background-color: white;
  border-color: gray;
  display: inline-block;
  color: gray;
  padding-top: 10px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.deny-send {
  width: 11.9vw;
  background-color: #FFD966;
}

.deny-cancel {
  width: 26vw;
}

.orange {
  background-color: #F69900;
}

.justify-content {
  display: flex;
  justify-content: space-between;

}

.white {
  color: white;
}

.light-black {
  color: black;
}

.font-light-gray {
  color: #999999;
}

